@{
  Layout = "_Layout";
}

<h1>Vendor @(Model["vendor"].Name) - Order List Details: </h1>

<h2>@Model["order"].Title</h2>
<h3>@Model["order"].Description</h3>
<h3>@Model["order"].Date</h3>
<h3>@Model["order"].Price</h3>

<a href='/vendor/@Model["vendor"].Id/order/new'>Add another item</a>
<a href='/vendor'>View all vendors</a>